.frontpage-text {
    margin-left: 20%;
    margin-right: 20%;
}

ul {
    display: table;
    margin: 0 auto;
}

.line-center {
    display: inline-block;
    vertical-align: middle; 
}

.footer {
    background-color: rgb(182, 182, 182);
    color: rgb(59, 59, 59);
    width: 100%;
    position: static;
    height: 7%;
    margin-top: 4%;
    padding-bottom: 8px;
    bottom: 0;
}

.app-bar {
    background-color: rgb(182, 182, 182);
    color: rgb(59, 59, 59);
}

.footer-content {
    margin-left: 1%;
}

.same-line {
    display:inline-block
}

.email-text {
    border-bottom: 2px dotted gray;
}

.toast {
    background-color: lightslategrey;
}

.copy-button {
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    background-color: rgb(233, 233, 233);
}

body {
    position: relative;
    min-height: 100%;
    background-color: rgb(233, 233, 233);
}

h1 {
    margin-top: 2em;
}

.seperator {
    width: 84%;
    background-color: gray;
    height: 2px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 8%;
    margin-right: 8%;
}

.seperator-no-line {
    width: 100%;
    height: 1px;
    margin-top: 2%;
}